///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$color-1: #fefefe;
$color-2: #38373A;
$color-3: #b6b79f;
$color-4: #a09686;
$color-5: #dcbfa6;
$color-6: #4c4d4d;

$color-7: #131313;