<footer>
	<div class="container">
		<h2>інформація про поверх</h2>
		<ul class="information-list">
		<li class="information-item">
			<h4>№ дома:</h4>
			<div id="floor-information-address"></div>			
		</li>
		<li class="information-item">
			<h4>Поверх:</h4>
			<div id="floor-information-floors"></div>
		</li>
		<li class="information-item">
			<h4>№ квартири:</h4>
			<div id="floor-information-apartments-all"></div>
		</li>
		<li class="information-item">
			<h4>Кількість кімнат:</h4>
			<div id="floor-information-apartments-free"></div>
		</li>
		<li class="information-item">
			<h4>Площа квартири:</h4>
			<div id="floor-information-apartments-action"></div>
		</li>
		<li class="information-item">
			<h4>Ціна за м2:</h4>
			<div id="floor-information-apartments-reservation"></div>
		</li>
		<li class="information-item">
			<h4>Ціна за квартиру:</h4>
			<div id="floor-information-apartments-reservation"></div>
		</li>
		<li class="information-item">
			<h4>Статус квартири:</h4>
			<div id="floor-information-apartments-reservation"></div>
		</li>
	</ul>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
<script async src="assets/js/floor.js"></script>
</body>
</html>