<footer>
	<div class="container">
		<h2>інформація про поверх</h2>
		<ul class="information-list">
		<li class="information-item">
			<h4>Адреса:</h4>
			<div id="floor-information-address"></div>			
		</li>
		<li class="information-item">
			<h4>Кількість поверхів:</h4>
			<div id="floor-information-floors"></div>
		</li>
		<li class="information-item">
			<h4>Загальна кількість квартир:</h4>
			<div id="floor-information-apartments-all"></div>
		</li>
		<li class="information-item">
			<h4>Кількість вільних квартир:</h4>
			<div id="floor-information-apartments-free"></div>
		</li>
		<li class="information-item">
			<h4>Залишилося акційних квартир:</h4>
			<div id="floor-information-apartments-action"></div>
		</li>
		<li class="information-item">
			<h4>Кількість заброньованих квартир:</h4>
			<div id="floor-information-apartments-reservation"></div>
		</li>
	</ul>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
</body>
</html>