<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </a>
        <nav class="header-nav">
            <a class="header-item" href="index.html">genplan</a>
            <a class="header-item" href="building-item.html">building</a>
            <a class="header-item" href="floor-item.html">floor</a>
            <a class="header-item" href="apartment-item.html">apartment</a>
        </nav>
    </div>
</header>

